# USAGE INSTRUCTIONS:
# - copy this file and rename it to `.env` to use it.
# - do not commit the `.env` file to version control. 
# - you will need to set the paths below as appropriate for your environment.
#   We provide examples in the comments to give you an idea of the expected format.


# --- Mirrors to RCSB data ---

# The `PDB_MIRROR_PATH` is a path to a local mirror of the PDB database. It's 
# expected that you use the same saving conventions as the RCSB PDB, which means:
#   `1a2b` --> /path/to/pdb_mirror/a2/1a2b.cif.gz
# To set up a mirror, you can use tha atomworks commandline: `atomworks pdb sync /path/to/mirror`
PDB_MIRROR_PATH=

# The `CCD_MIRROR_PATH` is a path to a local mirror of the CCD database.
# It's expected that you use the same saving conventions as the RCSB CCD, which means:
#  `HEM` --> /path/to/ccd_mirror/H/HEM/HEM.cif
# To set up a mirror, you can use the atomworks commandline: `atomworks ccd sync /path/to/mirror`
# If no mirror is provided, the internal biotite CCD will be used as a fallback. To provide a 
# custom CCD for a ligand, you can place it in the in the CCD mirror path following the CCDs pattern.
# Example: /path/to/ccd_mirror/M/MYLIGAND1/MYLIGAND1.cif
CCD_MIRROR_PATH=

# --- Local MSA directories ---
LOCAL_MSA_DIRS=


# --- External tools ---

# The `X3DNA_PATH` is a path to the x3dna tool, which is used for DNA structure analysis.
# Example: /path/to/x3dna-v2.4
X3DNA_PATH=

# The `HHFILTER_PATH` is a path to the hhfilter tool from the HH-suite, which is used for
# filtering MSAs to reduce redundancy.
# Example: /path/to/hhsuite/build/bin/hhfilter
HHFILTER_PATH=

# The `MMSEQS2_PATH` is a path to the mmseqs2 tool, which is used for fast sequence searching.
# Example: /path/to/mmseqs-gpu/bin/mmseqs
MMSEQS2_PATH=

# CollabFold MMseqs2 database paths for GPU and CPU usage.

# Local access (preferred)
# NOTE: MMseqs2 databases are best stored on local drives of compute nodes for performance
COLABFOLD_LOCAL_DB_PATH_GPU=
COLABFOLD_LOCAL_DB_PATH_CPU=

# Network access (fallback; may cause IO-related issues)
COLABFOLD_NET_DB_PATH_GPU=
COLABFOLD_NET_DB_PATH_CPU=


